/* CSS Document */
/* #wrapper{border:thin solid black} */
#topHeader{font-size:24px; text-align:center}
#footer{text-align:center; padding:5px; border-top:thin solid black}
#main {border-left:thin solid black}
.carousel-inner > .item {
    height: 500px;
}
.carousel-inner > .item > img {
    margin: auto;
    height: 400px;
}

.carousel-inner > .item > table {
    width:65%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;

}

.carousel-caption {
    color: #101010;

}
#main {
    border-left: thin solid black;
}
