<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Конференция</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/custom.css" rel="stylesheet"/>
    <script src="vendor/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="vendor/mustache/mustache.min.js" type="text/javascript"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/sections.js" type="text/javascript"></script>
    <script src="js/requests.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>

</head>
<body onload="onloadRoutine()">
<div id="wrapper" class="container">
    <div id="topHeader" class="row">
        Добро пожаловать на сайт конференции
    </div>
    <div id="horizontalnav" class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="images/logo.jpg" width="32" height="32"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href=".">Главная</a></li>
                        <li><a href="#!/sections">Секции</a></li>
                        <li><a href="#!/requests">Заявки</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="api/export.php" target="_blank">Экспорт</a></li>
                        <li><a href="?action=login">Вход</a></li>
                        <li><a href="?action=register">Регистрация</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <div id="maincontent" class="row">
        <div id="center" class="col-sm-7 col-lg-7 col-md-7 col-sm-push-3">
        </div>
        <div id="leftgutter" class="col-sm-3 col-lg-3 col-md-3 col-sm-pull-7">
        </div>

    </div>
    <div id="footer" class="row">
        Здесь будет контактная информация
    </div>

</div>
<script id="registerFormSectionsTemplate"  type="x-tmpl-mustache">
      {{#sections}}
        <option id="{{id}}">{{name}}</option>
      {{/sections}}
</script>
<script id="registerPageMainTemplate" type="x-tmpl-mustache">
  <form class="form form-horizontal">
    <div class="form-group">
      <label for="sectionId">Секция</label>
      <select id="sectionId" name="sectionId" class="form-control" placeholder="Выберите секцию">
      </select>
    </div>
    <div class="form-group">
      <label for="email">Электронная почта</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="post@example.com"/>
    </div>
    <div class="form-group">
      <label for="firstName">Имя</label>
      <input type="text" id="firstName" name="firstname" class="form-control" placeholder="Имя"/>
    </div>
    <div class="form-group">
      <label for="lastName">Фамилия</label>
      <input type="text" id="lastName" name="lastname" class="form-control" placeholder="Фамилия"/>
    </div>
    <div class="form-group">
      <label for="theme">Тема доклада</label>
      <input type="text" id="theme" name="theme" class="form-control" placeholder="Тема доклада"/>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" onclick="addNewRequest()">Подать заявку</button>
    </div>
  </form>
</script>
<script id="registerPageLeftTemplate"  type="x-tmpl-mustache">
            <table class="table table-condensed">
                <tr><th>Всего подано заявок</th></tr>
                <tr><td id="requestsAmount">{{requests}} </td></tr>
            </table>
            <table class="table table-condensed">
                <tr><th>Всего одобрено</th></tr>
                <tr><td id="approvedAmount">{{approved}}</td></tr>
            </table>
<!--            <canvas id="graphCanvas" width="150" height="80" ></canvas> -->
</script>
<script id="sectionsPageLeftTemplate"  type="x-tmpl-mustache">
<ul>
<li class="nav nav-link"><a href="#!/sections/addnew">Добавить</li></li>
<li class="nav nav-link"><hr/></li>
{{#sections}}
<li class="nav nav-link"><a href="#!/sections/{{id}}">{{name}}</a></li>
{{/sections}}
</ul>
</script>
<script id="sectionsAddSectionTemplate"  type="x-tmpl-mustache">
<form class="form form-horizontal">
  <div class="form-group">
    <label for="newSectionId">ИД</label>
    <input type="text" id="newSectionId" name="id" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="newSectionName">Название</label>
    <input type="text" id="newSectionName" name="name" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="newSectionCapacity">Вместимость</label>
    <input type="text" id="newSectionCapacity" name="capacity" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="newSectionType">Тип</label>
    <select id="newSectionType" name="type" class="form-control">
      <option id="0">Секция</option>
      <option id="1">Мастер класс</option>
    </select>
  </div>
  <div class="form-group">
      <button type="button" class="btn btn-primary" onclick="addNewSection()">Добавить секцию</button>
  </div>
</form>
</script>
<script id="sectionsEditSectionTemplate"  type="x-tmpl-mustache">
<form class="form form-horizontal">
  <div class="form-group">
    <label for="sectionId">ИД</label>
    <input type="text" id="sectionId" class="form-control" value="{{id}}" readonly/>
  </div>
  <div class="form-group">
    <label for="sectionName">Название</label>
    <input type="text" id="sectionName" name="name" value="{{name}}" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="sectionCapacity">Вместимость</label>
    <input type="text" id="sectionCapacity" value="{{capacity}}" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="sectionType">Тип</label>
    <select id="sectionType" name="type" value="{{type}}" class="form-control">
      <option id="0" value="0">Секция</option>
      <option id="1" value="1">Мастер класс</option>
    </select>
  </div>
  <div class="form-group">
      <button type="button" class="btn btn-primary" onclick="editSection()">Изменить секцию</button>
  </div>
</form>
</script>
<script id="requestsListRequestTemplate"  type="x-tmpl-mustache">

<table class="table table-condensed table-striped">
<tcaption>На рассмотрении</tcaption>
<tr><th>Секция</th><th>Тип</th><th>ФИО</td><td>Тема</td></tr>
{{#requests}}
{{^approved}}
<tr><td>{{section.name}}</td><td>{{section.type_name}}</td><td><a href="#!/requests/{{id}}">{{firstName}} {{lastName}}</a></td><td>{{theme}}</td></tr>
{{/approved}}
{{/requests}}
</table>
<table class="table table-condensed table-striped">
<tcaption>Одобренные</tcaption>
<tr><th>Секция</th><th>Тип</th><th>ФИО</td><td>Тема</td></tr>
{{#requests}}
{{#approved}}
<tr><td>{{section.name}}</td><td>{{section.type_name}}</td><td><a href="#!/requests/{{id}}">{{firstName}} {{lastName}}</a></td><td>{{theme}}</td></tr>
{{/approved}}
{{/requests}}
</table>
</script>
<script id="requestsEditRequestTemplate"  type="x-tmpl-mustache">
<form class="form form-horizontal">
  <div class="form-group">
    <label for="requestId">ИД</label>
    <input type="text" id="requestId" class="form-control" value="{{id}}" readonly/>
  </div>
    <div class="form-group">
      <label for="email">Электронная почта</label>
      <input type="email" id="email" name="email" class="form-control" value="{{email}}". placeholder="post@example.com"/>
    </div>
  <div class="form-group">
    <label for="sectionId">Секция</label>
    <input type="text" id="sectionId" class="form-control" value="{{sectionId}}" readonly/>
  </div>
  <div class="form-group">
    <label for="firstName">Имя</label>
    <input type="text" id="firstName" name="firstName" value="{{firstName}}" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="lastName">Фамилия</label>
    <input type="text" id="lastName" name="lastName" value="{{lastName}}" class="form-control"/>
  </div>
    <div class="form-group">
      <label for="theme">Тема доклада</label>
      <input type="text" id="theme" name="theme" class="form-control" value="{{theme}}" placeholder="Тема доклада"/>
    </div>
  <div class="form-group">
    <button type="button" class="btn btn-secondary">Подтвердить</button>
  </div>
  <div class="form-group">
      <button type="button" class="btn btn-primary" onclick="editRequest()">Изменить заявку</button>
  </div>
</form>
</script>
</body>
</html>
